 /* Css for user avatar */
 #avatar {
     width: 30px;
     height: 30px;
 }

 .header-search-form input {
     border: 2px solid #999 !important;
 }

 .header-search-form button {
     background: #fff !important;
     border: 2px solid #999;
     color: #999 !important;
 }

 .avatar-wrapper {
     cursor: pointer;
 }

 .dropdown-wrapper {
     position: relative;
     padding: 10px 0;
 }

 .custom-dropdown-menu {
     position: absolute;
     top: 100%;
     right: 0;
     padding: 0;
     display: none;
     background: #fff;
     border-radius: 5px;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
 }

 .custom-dropdown-menu li {
     padding: 5px 20px;
 }

 .custom-dropdown-menu li a {
     color: #000;
 }

 .dropdown-wrapper:hover .custom-dropdown-menu {
     display: block;
 }

 /* Css for footer (basic) */
 #custom-footer,
 .bg-footer-custom {
     background: #007b5e;
     color: #fff !important;
     font-size: 16px !important;
     padding-bottom: 40px;
 }

 .bg-footer-custom {
     padding-top: 40px;
 }

 #custom-footer p,
 #custom-footer h6 {
     font-size: 16px !important;
 }

 #custom-footer ul.social {
     font-size: 25px;
 }

 #custom-footer {
     max-width: unset;
 }

 #custom-footer a {
     color: #fff !important;
 }

 #custom-footer a i {
     transition: 250ms;
 }

 #custom-footer a i.fa {
     transition: 400ms;
 }

 #custom-footer a i:hover {
     transform: scale(1.3);
 }

 /* Css for widget footer */
 .custom-widget-area-wrap {
     display: flex;
     justify-content: space-between;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

 .custom-widget-area h3 {
     padding: 5px 10px;
     border-left: 3px solid #fff;
 }

 .custom-widget-area .wp-block-latest-posts>li>a {
     font-weight: normal;
     color: #fff;
     padding: 7px 0;
     line-height: 0;
 }

 .custom-widget-area ul {
     margin: 20px 0 !important;
 }

 .custom-widget-area li {
     margin-left: 0;
 }

 .custom-widget-area .wp-block-latest-posts>li {
     margin: 0 !important;
 }

 .custom-widget-area ul>li>a {
     color: #fff !important;
 }

 .custom-widget-area ul li::before {
     font-family: FontAwesome;
     content: "\f101";
     padding-right: 5px;
 }